<nav class="col-sm-3 col-md-2 hidden-xs-down sidebar css-sidebar-custom">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Recent Uploads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Watched History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liked Videos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Profile Page</a>
        </li>
    </ul>
</nav>