<div class="card h-100">
    <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->


    <!-- <div id='map'></div> -->
    <div class="css-map-custom" id="map{{mv_mapId}}"></div>
    <!-- <div class="map" id="map"></div> -->

    <div class="card-body css-metadata-custom">
      <h4 class="card-title">
        <a href="#">{{mv_title}}</a>
      </h4>
      <p>{{author_name | uppercase}}
        <br>
      <b>{{tag_1}}, {{tag_2}}, {{tag_3}}</b> 
      <br>
      <font size="2">{{mv_views}} views, {{created_on}} ago</font></p>
    </div>
  </div>

