<!-- <div *ngIf="responseData; then videoRender else error404"></div>
<ng-template #error404>Content Not Found :(</ng-template>
<ng-template #videoRender>render</ng-template> -->

<button (click)="onGet()">click</button>

<ng-template [ngIf]="responseBody"><app-video-buffer></app-video-buffer></ng-template>
<ng-template [ngIf]="errorBody"><app-error-no-video [errorBody]="errorBody"></app-error-no-video></ng-template>
<ng-template [ngIf]="!responseBody && !errorBody"><app-content-loading></app-content-loading></ng-template>


