<!-- <div *ngIf="responseData; then videoRender else error404"></div>
<ng-template #error404>Content Not Found :(</ng-template>
<ng-template #videoRender>render</ng-template> -->

<button (click)="onGet()">click</button>

<ng-template [ngIf]="responseData"><app-video-buffer></app-video-buffer></ng-template>
<ng-template [ngIf]="errorData"><app-error-no-video></app-error-no-video></ng-template>
<ng-template [ngIf]="!responseData && !errorData"><app-content-loading></app-content-loading></ng-template>


