.css-div-custom {
    margin-top: 70px;
    margin-left: 210px;
    /* overflow: scroll;    */
    /* display: inline-block;
    display:absolute; */
    float:left;
    /* overflow: hidden; */
}

.css-row-custom {
    margin-bottom: 10px;
}