<div class="css-div-custom container">
    <div class="row" >
         <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item css-row-custom" *ngFor="let mv_singleEntry of mv_metaData; let i = index">
            <app-map-video-template mv_title = {{mv_singleEntry.a}} mv_description = {{mv_singleEntry.b}} mv_mapId = {{i}}></app-map-video-template>
        </div> 
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>-->
        </div> 
          
    
</div>
