<div class="css-div-custom container">
    <div class="row" >
         <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item css-row-custom" *ngFor="let mv_singleEntry of mv_metaData; let i = index">
            <app-map-video-template centre_latitude={{mv_singleEntry.centre_latitude}} centre_longitude={{mv_singleEntry.centre_longitude}} zoom_level={{mv_singleEntry.zoom_level}} map_style={{mv_singleEntry.map_style}} bbox_polygon={{mv_singleEntry.bbox_polygon}} mv_title={{mv_singleEntry.mv_title}} mv_location={{mv_singleEntry.mv_location}} author_name={{mv_singleEntry.author_name}} tag_1={{mv_singleEntry.tag_1}} tag_2={{mv_singleEntry.tag_2}} tag_3={{mv_singleEntry.tag_3}} mv_views={{mv_singleEntry.mv_views}} created_on={{mv_singleEntry.created_on}} mv_length={{mv_singleEntry.mv_length}} mv_mapId = {{i}}></app-map-video-template>
        </div> 
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>-->
        </div> 
          
    
</div>
